# Aiken compilation artifacts
artifacts/
# Aiken's project working directory
build/
# Aiken's default documentation export
docs/
# No need to track plutus.json as validators are just examples
plutus.json
