name: Continuous Integration

on:
  push:
    branches: ["main"]
  pull_request:
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: aiken-lang/setup-aiken@v1.0.3
        with:
          version: v1.1.19
      - run: aiken fmt --check
      - run: aiken check
      - run: aiken build
      - run: aiken docs -o docs
      - run: git diff --name-only --exit-code aiken.lock
      - uses: actions/upload-pages-artifact@v4
        with:
          path: "docs/"

  publish-documentation:
    # Uncomment when stable.
    #
    # if: ${{ startsWith(github.ref, 'refs/tags') }}
    if: ${{ github.event_name == 'push' }}
    needs: check
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - id: deployment
        uses: actions/deploy-pages@v4
